.board {
  width: var(--preview-width);
  display: flex;
  flex-wrap: wrap;
}

.tile {
  width: calc(var(--preview-width) / 8);
  height: calc(var(--preview-width) / 8);
}

.column:nth-child(even) .tile:nth-child(odd) {
  background-color: var(--dark);
}

.column:nth-child(odd) .tile:nth-child(even) {
  background-color: var(--dark);
}

.column:nth-child(even) .tile:nth-child(even) {
  background-color: var(--ligth);
}

.column:nth-child(odd) .tile:nth-child(odd) {
  background-color: var(--ligth);
}
