<a class="back-button" routerLink="/">←</a> 
<!-- -> buttons resign, switch sides, restart, back -->

    <player-display [gameId]="gameId" [player]="!whiteAtBottom ? state.userWhite : state.userBlack" [white]="!whiteAtBottom"></player-display>

    <div class="board">
      <ng-container *ngFor="let column of board">
        <div class="column">
          <ng-container *ngFor="let tile of column">
            <div class="tile" (click)="onTileClick(tile)">
              <!-- <img *ngIf="getPiece(tile)" [src]="getSvg(tile)" /> -->
              <!-- <div>{{ tileToText(tile) }}</div> -->
              <!-- <div>({{ tile.row }}, {{ tile.col }})</div> -->
              <!-- <div *ngIf="canInteract(tile)">can interact</div> -->
              <img *ngIf="canMoveHere(tile)" src="assets/can-move.svg" />
    
              <piece
                [piece]="getPiece(tile)"
                [isSelected]="isSelected(tile)"
                [canAttackHere]="canAttackHere(tile)"
                [canInteract]="canInteract(tile)"
              ></piece>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
    
    <player-display [gameId]="gameId" [player]="whiteAtBottom ? state.userWhite : state.userBlack" [white]="whiteAtBottom"></player-display>

    <ul class="game-log-container">
      <div class="game-log">{{ state.gameState() }}</div>
      <div class="game-log" *ngIf="check()">check!</div>
      <il class="game-log" *ngFor="let log of [logs[0]]"> <div>{{log}}</div></il>
    </ul>



<!-- 
    <div>
      <button (click)="switchSides()">Switch sides</button>
    </div> -->
<!-- <div>
  <button (click)="state.restart()">New game</button>
</div>

<div>The following does not yet work</div>
<div>
  <ul>
    <li>en passant</li>
    <li>promoting a pawn to other than queen</li>
  </ul>
</div> -->

