<a routerLink="/">back</a>
<div class="board">
  <ng-container *ngFor="let column of board">
    <div class="column">
      <ng-container *ngFor="let tile of column">
        <div class="tile" (click)="onTileClick(tile)">
          <!-- <img *ngIf="getPiece(tile)" [src]="getSvg(tile)" /> -->
          <!-- <div>{{ tileToText(tile) }}</div> -->
          <!-- <div>({{ tile.row }}, {{ tile.col }})</div> -->
          <!-- <div *ngIf="canInteract(tile)">can interact</div> -->
          <img *ngIf="canMoveHere(tile)" src="assets/can-move.svg" />

          <piece
            [piece]="getPiece(tile)"
            [isSelected]="isSelected(tile)"
            [canAttackHere]="canAttackHere(tile)"
            [canInteract]="canInteract(tile)"
          ></piece>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div>white: {{ state.userWhite?.name }}</div> <!-- todo: als geen speler add play button -->
<div>black: {{ state.userBlack?.name }}</div>
<div *ngIf="check()">CHECK!!!</div>
<div>{{ state.gameState() }}</div>
<div>
  <button (click)="state.restart()">New game</button>
</div>
<div>
  <button (click)="switchSides()">Switch sides</button>
</div>
<div>The following does not yet work</div>
<div>
  <ul>
    <li>en passant</li>
    <li>promoting a pawn to other than queen</li>
  </ul>
</div>

