/* You can add global styles to this file, and also import other style files */
* {
  margin: 0;
  padding: 0;
}

:root {
  --board-width: min(80vw, 60vh);
  --preview-width: min(300px, min(80vw, 60vh));
  --dark: #383838;
  --ligth: gray;
}

body {
  background-color: black;
  color: white;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

.label {
  color: #999999;
}
