<div class="board">
  <ng-container *ngFor="let column of board">
    <div class="column">
      <ng-container *ngFor="let tile of column">
        <div class="tile" (click)="onTileClick(tile)">
          <!-- <img *ngIf="getPiece(tile)" [src]="getSvg(tile)" /> -->
          <img *ngIf="getPiece(tile)" src="assets/{{ getPiece(tile)?.color }}-{{ getPiece(tile)?.type }}.svg" />
          <!-- <div>{{ tileToText(tile) }}</div> -->
          <!-- <div>({{ tile.row }}, {{ tile.col }})</div> -->
          <!-- <div>{{ getPiece(tile)?.color }} {{ getPiece(tile)?.type }}</div> -->
          <!-- <div *ngIf="isSelected(tile)">selected</div> -->
          <!-- <div *ngIf="canAttackHere(tile)">can attack here</div> -->
          <!-- <div *ngIf="canInteract(tile)">can interact</div> -->
          <img *ngIf="canMoveHere(tile)" src="assets/can-move.svg" />
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>
<div *ngIf="check()">CHECK!!!</div>
<div>{{ state.gameState() }}</div>
<div>
  <button (click)="state.restart()">New game</button>
</div>
<div>The following does not yet work</div>
<div>
  <ul>
    <li>en passant</li>
    <li>promoting a pawn to other than queen</li>
  </ul>
</div>
